body{
    font-family: 'Arial', sans-serif;
    display: flex;
    background-color: #100729;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

#carbonVal{
    min-width: 20px;
    color:#15063d;
    font-weight: bold;
}
.control-slider{
    display: flex;
    flex-direction: row;
    gap:10px;
}

#btnGenerare{
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color:#15063d;
    margin-top: 5px;
}

#btnGenerare:hover{
    background-color: #2ecc71;
}

.cutieComenzi{
    background-color:#a975ee;
    padding: 30px 20px;
    border-radius: 12px;
    max-width: 650px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(88, 69, 107, 0.7);
}

.cutieRez{
    background-color:#8e5bd1;
    padding: 30px 20px;
    border-radius: 12px;
    max-width: 650px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(88, 69, 107, 0.7);
}

.cutie-peptide{
    color:#15063d
}

#text1{
    margin-bottom: 5px;
}

#text2{
    margin-top: 0px;
    margin-bottom: 5px;
}
